{% extends 'base.html.twig' %}

{% block title %}Biblio ~ Liste des livres{% endblock %}

{% block body %}
<div class="container">

<div class="row">
<h1>
  Liste des livres
</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Resume</th>
      <th scope="col">Lu/ pas lu</th>
      <th scope="col">Emprunté par</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    <tr class="table-{{ book.borrow is null ? 'light' : 'dark' }}">
      <td> <a href="{{ path('book_read', {'id' : book.id}) }}">
      {{book.name}}</a></td>
      <td>{{book.author}}</td>
      <td>{{book.resume|slice(0, 30)}}... <a class="text-muted" href="{{path('book_read', {'id' : book.id})}}">Lire la suite</a> </td>
      <td>{{book.isRead}}</td>
      <td>{{book.borrow}}</td>
    </tr>
 {% endfor %}
  </tbody>
</table> 

</div>
{% endblock %}
